@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  justify-content: space-between;
  align-items: flex-end;
}

.top-panel {
  margin-bottom: .5rem;
}

.search {
  margin-right: .3rem;
  flex-grow: 1;
}

.todo {
  width: 470px;
  margin: 5rem auto;
  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin-left: 0.5rem;
      }

      .checkbox {
        display: flex;
        flex-grow: 1;
        align-items: center;
        cursor: pointer;
        p {
          margin: 0 .5rem;
        }

        form {
          margin-left: 0.5rem;
          flex-grow: 1;
        }
      }

      .buttons {
        min-width: 115px;
      }
    }

    .important {
      transition: background 1s ease-out, transform 1s ease-out;
      background: rgba(0, 123, 255, 0.19);
      //transform: translateY(-200px);
    }

    .important-false {
      transition: background 1s ease-out, transform 1s ease-out;
      background: transparent;
    }
  }
}

// .important-enter {
//   background: transparent;
// }

// .important-enter-active {
//   transition: background 800ms ease-out;
//   background: #ff380042;
// }

// .important-exit-active {
//   transition: background 800ms ease-out;
//   background: transparent;
// }

.fa-check-square-o + p {
  text-decoration: line-through;
}

.add {
  margin-top: 0.5rem;
}

.note-exit-active {
  animation: note 800ms ease-out forwards;
}

.note-enter-active {
  animation: note 800ms ease-in alternate-reverse;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: .7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}